#about {
    padding-top: 50%;
    margin-top: 1em;
    text-align: center;
    float: center;
    padding-left: 0;
    width: 98%;
    margin-left: 0%;
}

#about article {
    border: 1px solid #fff;
    background-color: #fff;
    width: 27%;
    position: relative;
    height: 400px;
    float: left;
    margin: 9px;
    transition: 0.6s ease;
    margin-left: 4%;
}

#about article h1 {
    padding-bottom: 5%;
}

#about article p {
    line-height: 150%;
}

#about article img {
    padding-top: 4%;
}

#about article:hover {
    border: 1px solid red;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#about3 {
    float: left;
    width: 40%;
    padding-top: 13%;
    padding-bottom: 8%;
}

#about3-right {
    float: left;
    width: 40%;
    padding-top: 14%;
    margin-left: 10%;
}

#about3 img {
    padding-left: 19%;
}

#about3-right article {
    width: 78%;
    padding-left: 2%;
}

#about3-right article h1 {
    font-size: 35px;
    line-height: 150%;
}

#about3-right article p {
    padding-top: 2%;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 2%;
}

.container1 {
    padding-left: -2%;
    padding-top: 3%;
}

.btn3 {
    background-color: rgb(62, 199, 62);
    color: #fff;
    padding-left: -2%;
}

.btn3:hover {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: 1.6px solid rgb(62, 199, 62);
}