#blog {
    background-color: rgb(53, 72, 78);
    float: left;
    display: block;
    margin-top: 15%;
    width: 100%;
    padding-top: 10%;
    margin-bottom: 5%;
}

#blog article {
    text-align: center;
    width: 100%;
    line-height: 250%;
    padding-bottom: 2%;
}

#blog article h1 {
    font-size: 40px;
    margin-bottom: 1%;
}

#blog article p {
    font-size: 19px;
    line-height: 150%;
}

#blog1 {
    float: left;
    display: block;
    border: 1px solid black;
    width: 24.5%;
    margin-left: 8%;
    transition: 0.6s ease;
}

#blog1 img {
    position: relative;
    object-fit: unset;
}

#blog1 h3 {
    text-decoration: none;
    width: 80%;
    text-align: left;
    margin-top: 8%;
    line-height: 150%;
    padding-left: 8%;
}

#blog1 h3 a {
    text-decoration: none;
    color: black;
}

#blog1:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin-top: -0.5%;
}

#blog1 p {
    width: 80%;
    text-align: left;
    margin-top: 8%;
    line-height: 150%;
    padding-left: 8%;
    margin-bottom: 4%;
}

#blog1 p a {
    text-decoration: none;
    color: rgb(52, 81, 245);
}

#blog1 .author {
    border-top: 1px solid #ddd;
    padding: 18px 30px 35px 30px;
}

#blog1 span.name a {
    color: #010102;
    font-size: 14px;
    text-decoration: none;
}

#blog1 span.name {
    margin-right: 20px;
}

#blog1 span.date a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

#blog2 {
    float: left;
    display: block;
    border: 1px solid black;
    width: 24.5%;
    margin-left: 5%;
    transition: 0.6s ease;
}

#blog2:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin-top: -0.5%;
}

#blog2 h3 {
    text-decoration: none;
    width: 80%;
    text-align: left;
    margin-top: 8%;
    line-height: 150%;
    padding-left: 8%;
}

#blog2 h3 a {
    text-decoration: none;
    color: black;
}

#blog2 p {
    width: 80%;
    text-align: left;
    margin-top: 8%;
    line-height: 150%;
    padding-left: 8%;
    margin-bottom: 4%;
}

#blog2 p a {
    text-decoration: none;
    color: rgb(52, 81, 245);
}

#blog2 .author {
    border-top: 1px solid #ddd;
    padding: 18px 30px 35px 30px;
}

#blog2 span.name a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

#blog2 span.name {
    margin-right: 20px;
}

#blog2 span.date a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

#blog3 {
    float: left;
    display: block;
    border: 1px solid black;
    width: 24.5%;
    margin-left: 5%;
    transition: 0.6s ease;
}

#blog3:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin-top: -0.5%;
}

#blog3 h3 {
    width: 80%;
    text-align: left;
    margin-top: 8%;
    line-height: 150%;
    padding-left: 8%;
}

#blog3 h3 a {
    text-decoration: none;
    color: black;
}

#blog3 p {
    width: 80%;
    text-align: left;
    margin-top: 8%;
    line-height: 150%;
    padding-left: 8%;
    margin-bottom: 4%;
}

#blog3 p a {
    text-decoration: none;
    color: rgb(52, 81, 245);
}

#blog3 .author {
    border-top: 1px solid #ddd;
    padding: 18px 30px 35px 30px;
}

#blog3 span.name a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

#blog3 span.name {
    margin-right: 20px;
}

#blog3 span.date a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}