#service {
    background-color: rgb(53, 72, 78);
    float: left;
    width: 100%;
    display: block;
    padding-top: 3%;
    padding-bottom: 4%;
}

#service article {
    color: white;
    margin-top: 6%;
    text-align: center;
    padding-left: 0%;
    width: 98%;
}

#service article h1 {
    font-size: 35px;
    padding-bottom: 1%;
}

#service article p {
    font-size: 19px;
    line-height: 150%;
    width: 80%;
    padding-left: 8%;
}

#service2 {
    background-color: rgb(23, 217, 243);
    width: 40%;
    padding-top: 0%;
    float: left;
    display: block;
    padding-left: 8%;
    padding-bottom: 8%;
    position: relative;
    margin-left: 3%;
}

#service2 article {
    position: relative;
    float: right;
    text-align: left;
    border: 1px solid aqua;
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 1%;
    transition: 0.6s ease;
    margin-top: 1%;
    margin-right: 1%;
}

#service2 img {
    margin-top: 7%;
    margin-left: 4%;
    margin-right: 4%;
    float: left;
    border: 3px solid green;
    border-radius: 40px;
}

#service2 article h1 {
    padding-top: 4%;
}

#service2 article p {
    padding-top: 4%;
    line-height: 150%;
    padding-bottom: 4%;
}

#service2 article:hover {
    z-index: 3;
    image-rendering: pixelated;
    border: 1px solid rgb(71, 66, 66);
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#service2 img:hover {
    background-color: black;
}

#service3 {
    background-color: rgb(23, 217, 243);
    width: 40%;
    float: left;
    display: block;
    padding-right: 8%;
    padding-bottom: 8%;
    position: relative;
}

#service3 img {
    margin-top: 7%;
    margin-left: 4%;
    margin-right: 4%;
    float: left;
    border: 3px solid green;
    border-radius: 40px;
}

#service3 article {
    position: relative;
    text-align: left;
    border: 1px solid rgb(23, 217, 243);
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 0.9%;
    margin-top: 1%;
    transition: 0.6s ease;
}

#service3 article h1 {
    padding-top: 4%;
}

#service3 article p {
    padding-top: 4%;
    line-height: 150%;
    padding-bottom: 4%;
}

#service3 article:hover {
    z-index: 3;
    image-rendering: pixelated;
    border: 1px solid rgb(71, 66, 66);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}